<header class="bg-white text-black px-4 py-2 text-lg">
        <nav class="flex justify-between">
                <div>
                        logo
                </div>	
                <ul class="hidden md:flex gap-4">
                        <li>
                                <a href="#">home</a>
                        </li>
                        <li>
                                <a href="#"> donate</a>
                        </li>
                        <li>
                                <a href="#"> 
                                        contact us
                                </a>
                        </li>
                </ul>
                <div>
                        <button>
                                <i class="fas fa-bars fa-lg"></i>
                        </button>
                </div>
        </nav>
  </header>